html, body {
	margin: 0;
	padding: 0;
	height: 100vh;
}

body {
	font-family: 'Montserrat';
	display: grid;
	align-items: center;
	color: #fff;
	background: linear-gradient(322deg, rgba(43,46,39,1) 29%, rgba(28,28,28,1) 29%, rgba(28,28,28,1) 40%, rgba(43,46,39,1) 40%, rgba(43,46,39,1) 48%, rgba(28,28,28,1) 48%, rgba(28,28,28,1) 92%, rgba(113,174,33,1) 92%, rgba(113,174,33,1) 100%);
}

.container {
	width: 40%;
	height: 40vh;
	margin-left: 4em; 
}

h1 {
	margin: 0;
	font-size: 2.5em;
}

p {
	font-size: 1.3em;
	margin: 0.5em;
	text-transform: uppercase;
}

span {
	color: #71AE21;
}
