body {
	margin: 0;
	padding: 15px;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	min-width: 400px;
}

input {
	color: #212529;
	width: 100%;
	padding: 8px 10px;
	box-sizing: border-box;
	border: 2px solid #00babc;
	margin-bottom: 8px;
}

button {
	background-color: #00babc;
	color: #F0F8FF;
	border: 2px solid #00babc;
	padding: 10px 15px;
	font-weight: bold;
	cursor: pointer;
}

#delete-btn {
	background-color: #FFFFFF;
	color: #00babc;
}

ul {
	margin-top: 20px;
	list-style: none;
	padding-left: 0;
}

li {
	margin-top: 5px;
	font-size: 1rem;
}

a {
	color: #00babc;
}
